<h2>Edit Transaction</h2>
<form method="POST">
    {{ form.hidden_tag() }}
    
    <div>
        {{ form.amount.label }} <br>
        {{ form.amount }} <br>
        {% if form.amount.errors %}
            <span style="color: red;">{{ form.amount.errors[0] }}</span><br>
        {% endif %}
    </div>

    <div>
        {{ form.description.label }} <br>
        {{ form.description }} <br>
        {% if form.description.errors %}
            <span style="color: red;">{{ form.description.errors[0] }}</span><br>
        {% endif %}
    </div>

    <div>
        {{ form.transaction_type.label }} <br>
        {{ form.transaction_type }} <br>
        {% if form.transaction_type.errors %}
            <span style="color: red;">{{ form.transaction_type.errors[0] }}</span><br>
        {% endif %}
    </div>

    <div>
        {{ form.category.label }} <br>
        {{ form.category }} <br>
        {% if form.category.errors %}
            <span style="color: red;">{{ form.category.errors[0] }}</span><br>
        {% endif %}
    </div>

    <div>
        <button type="submit">Update Transaction</button>
    </div>
</form>

<a href="{{ url_for('transactions') }}">Back to Transaction History</a>